<footer class="footer" id="contact">
    <h1 class="footer-title">My <span>Contact</span></h1>
    <div class="footer-list">
        <div class="footer-data">
            <h2>Name</h2>
            <p>Eki Dama Rukmana</p>
        </div>

        <div class="footer-data">
            <h2>Address</h2>
            <p>Citra Serang Residence Blok B6 No 9</p>
        </div>

        <div class="footer-data">
            <h2>Email</h2>
            <p>ekidama91@gmail.com</p>
        </div>

        <div class="footer-data">
            <h2>Phone Number</h2>
            <p>-</p>
        </div>
    </div>
</footer>

<div class="copy">
    <p>&copy; <strong id="year"></strong> - All Rights Reserved</p>
    <span>Created By <strong>Eki Dama Rukmana</strong></span>
</div>