@media (max-width: 995px) {
    .home {
        gap: 4rem;
    }

    nav {
        position: absolute;
        display: none;
        top: 70px;
        right: 0;
        width: 60%;
        border-left: 3px solid var(--primary-color);
        border-bottom: 3px solid var(--primary-color);
        padding: 2rem;
        background-color: var(--secondary-color);
    }

    nav.active {
        display: block;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 2rem 0;
    }

    .menu-btn {
        display: block;
    }

    .home {
        flex-direction: column;
        margin: 5rem 2rem;
    }

    .home .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 2.5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
}